body{
    background-color: rgb(65, 59, 59);
    height: 100%;
    
}

.header{
      color:white ;
    text-align: center;
    margin: 20px 0px;
    text-decoration: solid;
    font-size:100px;
  
}
.btndiv{
    display: flex;
    margin: 60px 0px;
    align-content: center;
    justify-content: center;
    

}
.btn{
text-align: center;
padding: 30px;
margin: 5px;
border-radius: 1px solid black;
margin: 5px ; border-radius: 20px;
color: brown;
font-size: xx-large;

}

footer{
    text-align: center;
    color: white;
padding-top: 400px;
    
}
.w{
background-image: url(images/dog-8514773_640.webp);

background-size: cover;
}
.a{
    background-image: url(images/drum-307908_640.webp);
    background-size: cover;
}
.s{
    background-image: url(images/drum-7323491_1280.webp);
    background-size: cover;
}
.d{

    background-image: url(images/drums-31362_640.webp); 
    background-size: cover;
}